
/*Contenedor Principal */
.gracias-wrapper {
    grid-column: 1 / -1;
    background-color: var(--gris-oscuro);
    border: 1px solid var(--gris);
    border-radius: 0.8rem;
    padding: 4rem;
    text-align: center;
    max-width: 700px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gracias-icon {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 2rem;
}

/*Título Principal*/
.gracias-wrapper h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

/*Color del Título según el Estado*/
.gracias-wrapper.success h1 {
    color: #4ade80;
}
.gracias-wrapper.error h1 {
    color: var(--rojo-error);
}

/*Párrafo del Mensaje*/
.gracias-wrapper .mensaje {
    font-size: 1.8rem;
    max-width: 500px;
    margin-bottom: 2rem;
    line-height: 1.6;
}
.gracias-wrapper .mensaje small {
    display: block;
    margin-top: 1rem;
    color: #aaa;
    font-size: 1.4rem;
}


.order-id-box {
    background-color: var(--negro);
    border: 1px dashed var(--gris);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
}
.order-id-box strong {
    font-size: 2rem;
    color: var(--azul-claro);
    margin-left: 0.5rem;
}

.acciones-finales {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.acciones-finales .btn-volver {
    background-color: var(--azul-bajo);
    color: var(--blanco);
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.acciones-finales .btn-volver:hover {
    background-color: var(--azul);
}